<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.farm.dao.merChant.FiledInfoMapper">
 <!--  <resultMap id="BaseResultMap" type="com.simple.farm.bean.merChant.FiledInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="merchantId" jdbcType="INTEGER" property="merchantid" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="monitorUrl" jdbcType="VARCHAR" property="monitorurl" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="size" jdbcType="INTEGER" property="size" />
  </resultMap> -->
 <!--  <insert id="insert" parameterType="com.simple.farm.bean.merChant.FiledInfo">
    insert into filed_info (id, merchantId, size, 
      monitorUrl, name, state
      )
    values (#{id,jdbcType=INTEGER}, #{merchantid,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}, 
      #{monitorurl,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simple.farm.bean.merChant.FiledInfo">
    insert into filed_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantid != null">
        merchantId,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="monitorurl != null">
        monitorUrl,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantid != null">
        #{merchantid,jdbcType=INTEGER},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="monitorurl != null">
        #{monitorurl,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert> -->
  
  <!-- 使用version 作为乐观锁判断 -->
  <update id="lockState" parameterType="com.simple.farm.bean.merChant.FiledInfo">
  	update filed_info set state = #{state},version = version+1 where id = #{id} and version = #{version}
  </update>
  
  
  <update id="updateState">
  	update filed_info set state = #{state} where id = #{id}
  </update>
  
  
  <select id="getFiledInfos" resultType="com.simple.farm.bean.merChant.FiledInfo">
  	select * from filed_info
  	<where>
  		id in
  		<foreach collection="ids" item="id" open="(" close=")" separator=",">
  			#{id}
  		</foreach>
  	</where>
  </select>
  
</mapper>