<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.farm.dao.sptest.TestTableMapper">

  <insert id="spInsert" parameterType="com.simple.farm.bean.sptest.TestTable">
    insert into test_table (col, col2, name
      )
    values (#{col,jdbcType=VARCHAR}, #{col2,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>


  <insert id="spInsert2" parameterType="com.simple.farm.bean.sptest.TestTable">
    insert into test_table (col, col2, name
      )
     <if test="name.length()==2">
     	values ('1','2','3')
     </if> 
     <if test="name.length()==3">
     	values ('3','3','3')
     </if> 
  </insert>

</mapper>